*.class
*.log
.DS_Store
*.swp
*.symlink

# sbt specific
dist/*
target/
lib_managed
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ IDEA IDE specific
.idea/

# forge specific
build
published

# PDIPSolver specific
data/PDIPSolver/*.dat

apps/Spatial
extern/Spatial
src/dsls/spatial
static/Spatial
